@model Message
<div class="d-flex justify-content-center">
    <form asp-action="CreateMessage" asp-controller="Message" method="post">
        <div class="form-floating mb-3">
            <input type="text" asp-for="MessageText" class="form-control" id="floatingInput" placeholder="Add a post">
            <label for="floatingInput">Add a Post</label>
        </div>
            <span asp-validation-for="MessageText" class="text-danger"></span>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Post it" class="btn text-dark">
        </div>
    </form>
</div>