@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model User

            
        <div class="logReg">
            @* add register form *@
            @await Html.PartialAsync("_Register")
        </div>
    
    
